body {

    font-family: 'Open Sans', sans-serif;
    color: #91110F;
    background-color: #E3F8BA;

}

h3 {

    font-family: 'Montserrat', sans-serif;
    font-size: 29pt;
    text-align: center;



}

header{text-align: center;
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 29pt;
    text-align: center;
   
    
}



#hero {
text-align: center;
background-color: #C4514F;
border: 7px #F77CEF;
border-style: double;

} 

#hero img {
    width:300px;
}

footer{
    text-align: center;
    color: #C4C44F;

}


#gallery {

border: #3c0f91; 
border-style: solid;

}

#gallery img {
    max-width: 100%;
}



/* Dropcaps */

#textdemo p::first-lette{
        font-size: 3em;
        color: rgb(0, 139, 46);
        box-shadow: -10px 0 10px rgb(62, 63, 61);
        background-color: gainsboro;
        font-weight: bold;
        text-shadow: #E3F8BA;
        box-shadow: #E3F8BA;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        border-bottom-right-radius: 0.4cm;
    
    }

#personal {
    text-align:left;
}

#aboutme {
    text-align:left;
}

#hobbies ul{
    text-align: left;
    list-style: inside;

    display: flex; 
    flex-direction: column; 
    align-items: center;

}

/* tablet size */
@media screen and (min-width: 60em)  {
    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    figure img {
        width:100%
    }

    #lit div {
        max-width:100%;
        columns: 40rem;
    }
    
}

/* large screen size */

@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr{
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }
    
}

#myVideo {
    width: 600px;
    border-radius: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
    

}
